{{ > app_init }}

{{ #events_api }}
    {{ > events_api }}
{{ /events_api }}

{{ #interactivity }}
    {{ > interactivity }}
{{ /interactivity }}

{{ #modals }}
    {{ > modals }}
{{ /modals }}

{{ #shortcuts }}
    {{ > shortcuts }}
{{ /shortcuts }}

{{ #slash_commands }}
    {{ > slash_commands }}
{{ /slash_commands }}

{{ #external_select }}
    {{ > external_select }}
{{ /external_select }}

{{ > app_start }}