module.exports = {
  hello: context => {
    return {
      callback_id: "hello_modal",
      type: "modal",
      title: {
        type: "plain_text",
        text: ":wave: Hello",
        emoji: true
      },
      close: {
        type: "plain_text",
        text: "Close",
        emoji: true
      },
      submit: {
        type: "plain_text",
        text: "Submit",
        emoji: true
      },
      blocks: [
        {
          type: "section",
          text: {
            type: "mrkdwn",
            text: `:sparkles: Hello <@${context.user}>!`
          }
        },
        {
			    block_id: "text_input",
          type: "input",
			    element: {
            action_id: "data",
				    type: "plain_text_input"
			    },
			    label: {
				    type: "plain_text",
				    text: "Text input",
				    emoji: true
			    }
		    }
        {{ #external_select }}
        ,{
            "type": "input",
            "element": {
              "action_id": "external_select",
              "type": "external_select",
              "placeholder": {
                "type": "plain_text",
                "text": "Start typing",
                "emoji": true
              }
            },
            "label": {
              "type": "plain_text",
              "text": "External select",
              "emoji": true
            }
        }
        {{ /external_select }}
      ]
    };
  }
};