app.action("hello_action", async ({ ack, action, body, context }) => {
  await ack();
  console.log(action);
  
  {{ #modals }}
  await app.client.views.open({
    token: context.botToken,
    trigger_id: body.trigger_id,
    view: payloads.modals.hello({user: body.user.id})
  })
  {{ /modals }}
});
