/**
app_home_opened listener for home tab and messages tab in app home
**/
app.event("app_home_opened", async ({ event, body, context }) => {
  console.log(event);

  {{ #app_home }}  
    if (event.tab === "home") {
        return await app.client.views.publish({
        token: context.botToken,
        user_id: event.user,
        view: payloads.home.home({user: event.user})
        });
    }
  {{ /app_home }}

  {{ #app_dm }}  
  if (event.tab === "messages") {
    return await app.client.chat.postMessage({
      token: context.botToken,
      channel: event.channel,
      blocks: payloads.messages.hello({user: event.user})
    });
  }
  {{ /app_dm }}
});
